<nav class="navbar">
  <div class="navbar-title">Legoview</div>
  <div *ngIf="!isLogged" class="navbar-buttons">
    <button class="navbar-button">Login</button>
    <button class="navbar-button">Register</button>
    <button routerLink="/auth/login" class="navbar-button">Login</button>
    <button routerLink="/auth/register" class="navbar-button">Register</button>
  </div>
  <div *ngIf="isLogged" class="navbar-buttons">
    <img [src]="image" />
    <button class="navbar-button">Logout</button>
  </div>
</nav>
