<nav class="navbar">
  <div routerLink="" class="navbar-title">LegoView</div>
  <div *ngIf="!isLogged" class="navbar-buttons">
    <button routerLink="/auth/login" class="navbar-button">Login</button>
    <button routerLink="/auth/register" class="navbar-button">Register</button>
  </div>
  <div *ngIf="isLogged" class="navbar-buttons">
    <img *ngIf="image" [src]="image" routerLink="/users/my-profile" />
    <button *ngIf="!image" routerLink="/users/my-profile" class="navbar-button">
      Profile
    </button>
    <button routerLink="/auth/logout" class="navbar-button">Logout</button>
  </div>
</nav>
