<nav class="navbar">
  <div routerLink="/" class="navbar-title">BrickView</div>
  <div class="navbar-buttons">
    <div class="flags">
      <a (click)="changeLanguage('en')" class="fib fi-us flag"></a>
      <a (click)="changeLanguage('bg')" class="fib fi-bg flag"></a>
    </div>
    <button routerLink="/reviews/" class="navbar-button">
      {{ "core.nav.reviews" | translate }}
    </button>
    <button *ngIf="!isLogged" routerLink="/auth/login" class="navbar-button">
      {{ "core.nav.login" | translate }}
    </button>
    <button *ngIf="!isLogged" routerLink="/auth/register" class="navbar-button">
      {{ "core.nav.register" | translate }}
    </button>
    <button *ngIf="isLogged" routerLink="/auth/logout" class="navbar-button">
      {{ "core.nav.logout" | translate }}
    </button>
    <img
      *ngIf="isLogged && image"
      [src]="image"
      routerLink="/users/my-profile"
    />
    <button
      *ngIf="isLogged && !image"
      routerLink="/users/my-profile"
      class="navbar-button"
    >
      {{ "core.nav.profile" | translate }}
    </button>
  </div>
</nav>
