<div class="container">
  <div class="profile">
    <img *ngIf="image" [src]="image" alt="Profile Picture" />
    <h2>{{ user?.username }}</h2>
  </div>
  <h3>
    {{ "user.user-current-profile.header1" | translate }}:
    {{ user?.sets?.length }}
    {{ "user.user-current-profile.header2" | translate }}
  </h3>
  <div class="buttons">
    <app-button routerLink="/sets/my-sets">
      <i class="fa-solid fa-box"></i>
      {{ "user.user-current-profile.collection" | translate }}
    </app-button>
    <app-button routerLink="/sets/add-set">
      <i class="fa-solid fa-plus"></i>
      {{ "user.user-current-profile.new" | translate }}
    </app-button>
    <app-button
      [routerLink]="['/users', 'edit']"
      [queryParams]="{ username: user?.username }"
    >
      <i class="fa-solid fa-gear"></i>
      {{ "user.user-current-profile.edit" | translate }}
    </app-button>
  </div>
</div>
