<div class="container">
  <!-- <ng-container *ngIf="user$ | async as user"> -->
  <div class="profile">
    <img *ngIf="image" [src]="image" alt="Profile Picture" />
    <h2>{{ user?.username }}</h2>
  </div>
  <h3>You have: {{ user?.sets?.length }} sets</h3>
  <div class="buttons">
    <button routerLink="/sets/my-sets" class="button">My Collection</button>
    <button routerLink="/sets/add-set" class="button">Add a New Set</button>
    <button
      [routerLink]="['/users', 'edit']"
      [queryParams]="{ username: user?.username }"
      class="button"
    >
      Edit Profile
    </button>
  </div>
  <!-- </ng-container> -->
</div>
