:root {
  /* --primary-color: #eb9c35; */
  --primary-color: #740202;
  /* --secondary-color: #4e7145; */
  --secondary-color: #c5c2c2;
  /* --secondary-color-hover: #13341e; */
  --secondary-color-hover: #ffffff;
}

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url(./assets/images/bgn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  body {
    background-image: url(./assets/images/bgn_mobile.jpg);
  }
}
