:root {
  --primary-color: #eb9c35;
  --secondary-color: #4e7145;
  --secondary-color-hover: #13341e;
}

html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      rgba(32, 32, 32, 0.6),
      rgba(32, 32, 32, 0.6)
    ),
    url(./assets/images/bgn_old.jpg);
  background-size: cover;
}
