<app-popup
  class="enlarged-image-container"
  *ngIf="popup.isActive"
  title=""
  (closed)="popup.hide()"
>
  <p *ngIf="customPopupContent">{{ customPopupContent }}</p>
  <img
    *ngIf="!customPopupContent"
    class="enlarged-image"
    [src]="enlargeImageSource"
    alt="Enlarged Image"
  />
</app-popup>
<div class="user-container">
  <h2>{{ set?.name }} Review by: {{ user?.username }}</h2>
</div>
<div class="container">
  <div class="set-image">
    <img
      (click)="enlargeImage(set?.image)"
      [src]="set?.image"
      alt="set?.name"
      width="100%"
    />
  </div>
  <div class="set-info">
    <h1>{{ set?.name }}</h1>
    <p><strong>Set Number:</strong> {{ set?.setNum }}</p>
    <p><strong>Parts:</strong> {{ set?.parts }}</p>
    <p><strong>Year:</strong> {{ set?.year }}</p>
    <p><strong>Minifigures:</strong> {{ set?.minifigCount }}</p>
  </div>
</div>
<div class="review-section">
  <h2>Build Experience</h2>
  <p>
    {{ review?.buildExperience }}
  </p>
  <h2>Design</h2>
  <p>
    {{ review?.design }}
  </p>
  <h2>Minifigures</h2>
  <p>
    {{ review?.minifigures }}
  </p>
  <h2>Value</h2>
  <p>
    {{ review?.value }}
  </p>
  <h2>Other</h2>
  <p>
    {{ review?.other }}
  </p>
  <h2>Verdict</h2>
  <p>
    {{ review?.verdict }}
  </p>
</div>
<div class="set-images">
  <img
    (click)="enlargeImage(image)"
    [src]="image"
    *ngFor="let image of review?.imageSources"
  />
</div>
<div class="minifigures">
  <h2>Minifigures</h2>
  <div class="minifigure-container">
    <div class="minifigure" *ngFor="let fig of minifigures">
      <img [src]="fig.image" (click)="enlargeImage(fig.image)" alt="fig.name" />
      <h4>{{ fig.name }}</h4>
      <p>Qty: {{ fig.quantity }}</p>
    </div>
  </div>
</div>
