<app-popup
  class="enlarged-image-container"
  *ngIf="popup.isActive"
  title=""
  (closed)="popup.hide()"
>
  <p *ngIf="customPopupContent">{{ customPopupContent }}</p>
  <img
    *ngIf="!customPopupContent"
    class="enlarged-image"
    [src]="enlargeImageSource"
    alt="Enlarged Image"
  />
</app-popup>
<div class="user-container">
  <h2>
    {{ review?.setName }} {{ "review.detail-review.from" | translate }}:
    {{ review?.userUsername }}
  </h2>
  <div class="buttons" *ngIf="isOwner">
    <button
      class="button-warning"
      [routerLink]="['/reviews', review?._id, 'edit']"
    >
      <i class="fa-solid fa-pen-to-square"></i>
      {{ "review.detail-review.edit" | translate }}
    </button>
    <button class="button-danger" (click)="deleteReview()">
      <i class="fa-solid fa-trash"></i>
      {{ "review.detail-review.delete" | translate }}
    </button>
  </div>
</div>
<div class="container">
  <div class="set-image">
    <img
      (click)="enlargeImage(review?.setImage)"
      [src]="review?.setImage"
      [alt]="review?.setName"
      width="100%"
    />
  </div>
  <div class="set-info">
    <h1>{{ review?.setName }}</h1>
    <p>
      <strong>{{ "review.detail-review.number" | translate }}:</strong>
      {{ review?.setNumber }}
    </p>
    <p>
      <strong>{{ "general.review.parts" | translate }}:</strong>
      {{ review?.setParts }}
    </p>
    <p>
      <strong>{{ "general.review.year" | translate }}:</strong>
      {{ review?.setYear }}
    </p>
    <p>
      <strong>{{ "review.detail-review.minifigures" | translate }}:</strong>
      {{ review?.setMinifigCount }}
    </p>
  </div>
</div>
<div class="review-section">
  <h2>{{ "review.detail-review.review" | translate }}</h2>
  <ngx-editor
    [editor]="editor"
    [(ngModel)]="review!.content"
    [disabled]="true"
  ></ngx-editor>
</div>
<div class="set-images" *ngIf="review!.setImages!.length > 0">
  <img
    (click)="enlargeImage(image)"
    [src]="image"
    *ngFor="let image of review?.setImages"
  />
</div>
<div class="set-videos" *ngIf="playlist.length > 0">
  <app-player [videoId]="activeVideo" />
  <ul>
    <li class="playlist-item" (click)="previousVideo()">Previous</li>
    <li class="playlist-item" (click)="nextVideo()">Next</li>
  </ul>
</div>
<div *ngIf="review!.setMinifigures!.length > 0" class="minifigures">
  <h2>{{ "review.detail-review.minifigures" | translate }}</h2>
  <div class="minifigure-container">
    <div class="minifigure" *ngFor="let fig of review?.setMinifigures">
      <img [src]="fig.image" (click)="enlargeImage(fig.image)" alt="fig.name" />
      <h4>{{ fig.name }}</h4>
      <p>{{ "review.detail-review.qty" | translate }}: {{ fig.quantity }}</p>
    </div>
  </div>
</div>
