<app-popup
  *ngIf="popup.isActive"
  title="{{ 'general.error' | translate }}"
  (closed)="popup.hide()"
>
  <p *ngFor="let error of errors">{{ error }}</p>
</app-popup>
<form [formGroup]="setForm" class="set-form" (ngSubmit)="onSubmit(button)">
  <h2>{{ "set.add-set.header" | translate }}</h2>
  <div class="form-group">
    <label for="setId">{{ "set.add-set.number" | translate }}</label>
    <input
      type="setId"
      id="setId"
      name="setId"
      placeholder="{{ 'set.add-set.placeholder' | translate }}"
      formControlName="setId"
    />
  </div>
  <app-button #button>{{ "set.add-set.button" | translate }}</app-button>
</form>
