h1 {
  text-align: center;
}

p {
  font-size: 18px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0px;
  width: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 24px;
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
  }
}
