<div class="search-form">
  <input type="text" placeholder="Search by set number" #search />
  <button class="card-button" type="button">Search</button>
</div>
<ul>
  <div *ngFor="let set of sets$ | async" class="card">
    <img src="{{ set.image }}" />
    <div class="card-content">
      <div class="card-title">
        {{ set.name }}
      </div>
      <div class="card-details">
        <img *ngIf="set.userImage" src="{{ set.userImage }}" />
        <span
          >Review by:
          <strong class="user-link" [routerLink]="['/sets', set.username]">{{
            set.username
          }}</strong></span
        >
      </div>
      <div class="card-actions">
        <button [routerLink]="['/reviews', set._id]" class="card-button">
          View Review
        </button>
      </div>
    </div>
  </div>
</ul>
