<app-popup
  *ngIf="popup.isActive"
  title="{{ 'general.error' | translate }}"
  (closed)="popup.hide()"
>
  <p *ngFor="let error of errors">{{ error }}</p>
</app-popup>
<form [formGroup]="editForm" class="edit-form" (ngSubmit)="onSubmit(button)">
  <h2>{{ "user.edit-info.header" | translate }}</h2>
  <div class="form-group">
    <label for="username"
      ><i class="fa-solid fa-user fa-xs"></i>
      {{ "user.edit-info.username" | translate }}</label
    >
    <input
      type="text"
      id="username"
      name="username"
      placeholder="{{ 'user.edit-info.username-placeholder' | translate }}"
      formControlName="username"
    />
  </div>
  <div class="form-group">
    <label for="image"
      ><i class="fa-solid fa-image fa-xs"></i>
      {{ "user.edit-info.image" | translate }}</label
    >
    <input
      type="file"
      id="image"
      name="image"
      accept="image/*"
      (change)="onFileChange($event)"
    />
  </div>
  <img
    [src]="currentProfilePicture"
    alt="Selected Image"
    *ngIf="currentProfilePicture"
  />
  <div *ngIf="currentProfilePicture" class="form-group-side">
    <label for="deleteProfilePicture"
      ><i class="fa-solid fa-trash"></i>
      {{ "user.edit-info.delete" | translate }}:</label
    >
    <input
      type="checkbox"
      id="deleteProfilePicture"
      formControlName="deleteProfilePicture"
    />
  </div>
  <app-button #button>
    <i class="fa-solid fa-computer-mouse"></i>
    {{ "user.edit-info.save" | translate }}
  </app-button>
</form>
