<app-popup
  *ngIf="popup.isActive"
  title="{{ 'general.error' | translate }}"
  (closed)="popup.hide()"
>
  <p class="multiline" *ngFor="let error of errors">{{ error }}</p>
</app-popup>
<form
  [formGroup]="registerForm"
  class="register-form"
  (ngSubmit)="onSubmit(button)"
>
  <h2>{{ "user.register.register" | translate }}</h2>
  <div class="form-group">
    <label for="username"
      ><i class="fa-solid fa-user fa-xs"></i>
      {{ "user.register.username" | translate }}</label
    >
    <input
      type="text"
      id="username"
      name="username"
      placeholder="{{ 'user.register.username-placeholder' | translate }}"
      formControlName="username"
    />
  </div>
  <div class="form-group">
    <label for="email"
      ><i class="fa-solid fa-envelope fa-xs"></i>
      {{ "user.register.email" | translate }}</label
    >
    <input
      type="email"
      id="email"
      name="email"
      placeholder="{{ 'user.register.email-placeholder' | translate }}"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <label for="password"
      ><i class="fa-solid fa-lock fa-xs"></i>
      {{ "user.register.password" | translate }}</label
    >
    <input
      type="password"
      id="password"
      name="password"
      placeholder="{{ 'user.register.password-placeholder' | translate }}"
      formControlName="password"
    />
  </div>
  <div class="form-group">
    <label for="repeat-password"
      ><i class="fa-solid fa-lock fa-xs"></i>
      {{ "user.register.password-repeat" | translate }}
    </label>
    <input
      type="password"
      id="repeat-password"
      name="repeat-password"
      placeholder="{{
        'user.register.password-repeat-placeholder' | translate
      }}"
      formControlName="repeatPassword"
    />
  </div>
  <div class="form-group">
    <label for="image"
      ><i class="fa-solid fa-image fa-xs"></i>
      {{ "user.register.image" | translate }}
    </label>
    <input
      type="file"
      id="image"
      name="image"
      accept="image/*"
      (change)="onFileChange($event)"
    />
  </div>
  <img
    [src]="registerForm.value.image"
    alt="Selected Image"
    *ngIf="registerForm.value.image"
  />
  <app-button #button>
    <i class="fa-solid fa-computer-mouse"></i>
    {{ "user.register.button" | translate }}
  </app-button>
</form>
