body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-button {
  margin: 0 5px;
  padding: 8px 12px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #015605;
}
