.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  height: 320px;
}

.card img {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  align-self: center;
  margin-bottom: 5px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.card-button,
.card-button-warning,
.card-button-danger {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.card-button:focus,
.card-button-danger:focus,
.card-button-warning:focus {
  outline: none;
}

.card-button {
  background-color: #4caf50;
}

.card-button:hover {
  background-color: #45a049;
}

.card-button-warning {
  background-color: orange;
}

.card-button-warning:hover {
  background-color: rgb(216, 141, 2);
}

.card-button-danger {
  background-color: #bd1405;
}

.card-button-danger:hover {
  background-color: #9e2203;
}

.card-actions {
  display: flex;
  justify-content: space-around;
}

.review-div {
  color: rgb(209, 137, 4);
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
    height: auto;
  }
}
