.card {
  background-color: #373737;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 350px;
  height: 360px;
}

.card img {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  align-self: center;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 10px;
  color: var(--secondary-color);
}

.card-button-warning,
.card-button-danger {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  transition: all 0.3s ease;
  background-color: #bd1405;
}

.card-button-danger:focus {
  outline: none;
}

.card-button-danger:hover {
  background-color: #9e2203;
}

.card-actions {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  /* justify-content: space-between; */
}

.review-div {
  color: white;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
    height: auto;
  }
}
