:host {
  margin: 2rem;
}

.review-form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #373737;
  color: white;
  border-radius: 4px;
}

#toolbar {
  color: black;
}

.review-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 12px;
}

input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

img {
  width: 25%;
  height: auto;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  display: inline;
}

.delete-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 8px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.form-group {
  margin-top: 10px;
}

:host ::ng-deep .NgxEditor__Content {
  min-height: 300px !important;
}
