<div class="container">
  <div class="profile">
    <img *ngIf="user?.image" [src]="user?.image" alt="Profile Picture" />
    <h2>{{ user?.username }}</h2>
  </div>
  <h3>
    {{ "set.user-sets.title" | translate }}: {{ sets.length }}
    {{ "set.user-sets.sets" | translate }}
  </h3>
</div>
<ul>
  <div class="card" *ngFor="let set of sets">
    <img src="{{ set.image }}" alt="set {{ set.setNum }}" />
    <div class="card-content">
      <div class="card-title" [ngClass]="{ 'review-div': set.review }">
        {{ set.name }}
      </div>
      <div class="card-details">
        <span>{{ "general.review.year" | translate }}: {{ set.year }}</span>
        <span>{{ "general.review.parts" | translate }}: {{ set.parts }}</span>
      </div>
      <button
        *ngIf="set.review"
        [routerLink]="['/reviews', set._id]"
        class="card-button"
      >
        {{ "general.review.view" | translate }}
      </button>
    </div>
  </div>
</ul>
