ul {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

/* For Tablet Portrait View */
@media screen and (min-device-width: 668px) and (max-device-width: 1124px) and (orientation: portrait) {
  ul {
    grid-template-columns: repeat(2, 300px);
  }
}

/* For Tablet Landscape View */
@media screen and (min-device-width: 668px) and (max-device-width: 1124px) and (orientation: landscape) {
  ul {
    grid-template-columns: repeat(3, 300px);
  }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  ul {
    grid-template-columns: 1fr;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  ul {
    grid-template-columns: 1fr;
  }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  ul {
    grid-template-columns: 1fr;
  }
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  height: 320px;
}

.card img {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  align-self: center;
  margin-bottom: 5px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

.review-div {
  color: rgb(209, 137, 4);
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: green;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile h2 {
  margin: 0;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
    height: auto;
  }
}
