:host {
  background-color: #373737;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 300px;
  height: 340px;
  flex: 1;
}

:host img {
  width: auto;
  height: 200px;
  object-fit: contain;
}

.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: bold;
  align-self: center;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.card-details {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.card-details img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.card-details__info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  color: var(--secondary-color);
}

.card-actions {
  display: flex;
  justify-content: space-around;
}

.user-link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 600px) {
  :host {
    max-width: 100%;
    height: auto;
  }
}
