<ng-container *ngIf="set">
  <img src="{{ set.image }}" />
  <div class="card-content">
    <div class="card-title">
      {{ set.name }}
    </div>
    <div class="card-details">
      <img *ngIf="set.userImage" src="{{ set.userImage }}" />
      <div class="card-details__info">
        <span
          >{{ "general.review.author" | translate }}
          <strong class="user-link" [routerLink]="['/sets', set.username]">{{
            set.username
          }}</strong></span
        >
        <span>{{ set.reviewDate }}</span>
      </div>
    </div>
    <div class="card-actions">
      <app-button [routerLink]="['/reviews', set._id]">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
        {{ "general.review.view" | translate }}
      </app-button>
    </div>
  </div>
</ng-container>
